@import "tailwindcss";

/* 
  Next.js ke default :root aur body styles humne delete kar diye hain 
  taake browser zabardasti Light Mode force na kar sakay.
*/

/* Hamara Premium SaaS Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}